body {
	background-color: #222322;
	color: #fbfbfb;
	font-family: Helvetica, sans-serif;
	animation-name: fadein;
	animation-duration: 2s;
}

.content {
	padding: 10pt 0 20pt 0;
	text-align: center;
}

@keyframes fadein {
	from {opacity: 0.2;}
	to {opacity: 1;}
}

input {
	background-color: #222322;
	color: #aaaaaa;
	width: 50%;
	border: 1pt solid grey;
	border-radius: 4pt;
	text-align: center;
	font-size: 18pt;
	padding: 5pt 5pt 5pt 5pt;
}

input:focus {
	outline: 0;
}

input:focus::placeholder {
	color: transparent;
}

hr {
	width: 80%;
	border-top: 1px solid lightgrey;
	animation-delay: 3s;
}

.footer {
	text-align: center;
	padding: 20pt 20pt 20pt 20pt;
	animation-delay: 3s;
}
