body {
	background-color: #222322;
	color: #fbfbfb;
	font-family: Helvetica, sans-serif;
}

.content {
	padding: 15px 0 25px 0;
	text-align: center;
	align: center;
}

h1 {
	padding: 0 0 30px 0;
}

.arrow {
	border: solid grey;
	border-width: 0 2px 2px 0;
	display: inline-block;
	padding: 3px;
}

.right {
	transition: transform 0.3s;
	transform: rotate(-45deg);
}

.down {
	transition: transform 0.3s;
	transform: rotate(45deg);
}

.submitButton {
	height: 48px;
	font-size: 20px;
	padding: 5px 15px 5px 15px;
	background-color: #4bbd5e;
	color: #fbfbfb;
	border: 1px solid green;
	border-radius: 8px;
	outline: none;
}

.submitButton:hover {
	cursor: pointer;
	outline:none; !important
}

.advOptionsButton {
	display: block;
	align: center;
	margin: auto;
	margin-top: 15px;
	margin-bottom: 10px;
	font-size: 15px;
	text-align: center;
	border: 0px;
	background-color: #222322;
	color: grey;
	outline: none;
}

.advOptionsButton:hover {
	color: white;
	cursor: pointer;
	outline: none; !important
}

.advOptionsButton:hover > .arrow {
	border: solid white;
	border-width: 0 2px 2px 0;
	display: inline-block;
	padding: 3px;
}

.advOptions {
	transition: max-height 0.3s ease-out;
	max-height: 0;
	overflow: hidden;
}

input {
	background-color: #222322;
	color: #aaaaaa;
	width: 50%;
	border: 2px solid grey;
	border-radius: 8px;
	text-align: center;
	font-size: 25px;
	padding: 8px 5px 8px 5px;
}

.results {
	padding: 0 0 20px 0;
}

p {
	padding: 0 0 0 20%;
}

.result {
	width: 50%;
	padding: 10px 15px 10px 15px;
	margin: 10px auto;
	color: lightgrey;
	border: 1px solid lightgrey;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
}

.resultTable {
	display: table;
	width: 100%;
}

.result:hover {
	color: white;
	border-color: white;
}

.resultHeader {
	display: table-row;
}

.resultMainData {
	display: table-row;
}

.resultHeaderFiller {
	display: table-cell;
	width: 80%;
}

.resultHeaderPrompt {
	font-size: 10px;
	padding: 0 5px 0 5px;
	display: table-cell;
	text-align: center;
}

.resultInstitute {
	font-size: 24px;
	display: table-cell;
	vertical-align: top;
	padding: 0 0 4px 0;
	width: 80%;
}

.resultRank {
	font-size: 22px;
	padding: 3px 8px 3px 8px;
	display: table-cell;
	text-align: center;
}

.female {
	color: pink;
}

.resultFooter {
	display: flex;
	width: 100%;
}

.resultDepartment {
	display: inline;
	width: 80%;
}

.resultQuota {
	text-align: center;
	display: inline;
	width: 20%;
	float: right;
}

input:focus {
	outline: 0;
}

input:focus::placeholder {
	color: transparent;
}

hr {
	width: 80%;
	border-top: 1px solid lightgrey;
}

.footer {
	text-align: center;
	padding: 20pt 20pt 20pt 20pt;
}
